-# %form{action: people_path, method: :post}
-#   %input{type: 'hidden', value: form_authenticity_token, name: 'authenticity_token'}
-#   .field
-#     %label Name
-#     %input{type: "text", name: "person[name]"}
-#   .field
-#     %label Email
-#     %input{type: "email", name: "person[email]"}
-#   %button(type="submit") Send
